[submodule "tidechart"]
	path = tidechart
	url = https://git.soton.ac.uk/soclabs/tidechart.git
[submodule "tidelink"]
	path = tidelink
	url = git@github.com:SoC-Labs/TideLink-Chiplet-Interconnect-AHB.git
[submodule "nanosoc-multicore-system"]
	path = nanosoc-multicore-system
	url = https://git.soton.ac.uk/soclabs/nanosoc-multicore-system.git
[submodule "ASIC/asic-flows"]
	path = ASIC/asic-flows
	url = https://github.com/SoC-Labs/ASIC-Flow.git
